//for hpe theme, use the following import instead
@import 'grommet/scss/vanilla/index';

.post__title {
  margin: 2px;
}

$paragraph-large-font-size: 18px;

.markdown__container {
  p {
    @include inuit-font-size($paragraph-large-font-size);
  }
}

a.post-link {
  &:hover {
    text-decoration: none;
  }
}
