//for hpe theme, use the following import instead
$readable-text-width: 960px;
$paragraph-large-font-size: 18px;

@import 'grommet/scss/vanilla/index';

.post__title {
  margin: 2px;
}

.markdown__container {
  p {
    @include inuit-font-size($paragraph-large-font-size);
  }
}

.grommet a:not(.anchor):hover,
a.post-link {
  &:hover {
    text-decoration: none;
  }
}
